<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />

</head>
<body>
    <div id="general-div">
    <h1>Sign Up</h1>
    <form action="/auth/sign-up" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required /><br>
        
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required /><br>

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" name="confirmPassword" id="confirmPassword" required /><br>
        <% if (typeof message !== 'undefined') { %>
            <p><%= message %></p>
            <% } %>
        <button type="submit" id="sign-button" >Sign Up</button>
      </form>
      <p>Already have an account? <a href="/auth/sign-in" id="sign-button">Sign In</a></p>
    </div>
</body>
</html>