<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />

</head>
<body>
    <div class ="general-div">
    <h1>Sign In</h1>
    <form action="/auth/sign-in" method="POST">

        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required /><br>
        
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required /><br>

        <% if (typeof message !== 'undefined') { %>
            <p calss="error-message"><%= message %></p>
            <% } %>

        <button type="submit" id="sign-button" >Sign in</button>
      </form>
      <p>Don't have an account? <a href="/auth/sign-up" id="sign-button">Sign Up</a></p>
    </div>
    
</body>
</html>