<nav>
  
  <li id="nav-list"><a href="/home">Home</a></li>
  <li id="nav-list"><a href="/tracker">Your Tracker</a></li>
  <li id="nav-list"><a href="/comunity">Comunity</a></li>
  <li id="nav-list"><a href="/Search">Search</a></li>
  <% if (user?.isAdmin ) { %>
    <li id="nav-list"><a href="/management">Management</a></li>
  <% } %>
  <li id="nav-list"><a href="/auth/sign-out">Sign Out</a></li>
</nav>