<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediaTracker</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />

</head>
<body>
    <div id="general-div">
        <h1>Welcome to Media Tracker!</h1>
            <p>Join our community to start tracking your favorite movies, TV shows, books, and more!</p>
            <p>Sign up now to get all the benefits of our community.</p>
            <a href="/auth/sign-up" id="sign-button">Sign Up</a>
            <a href="/auth/sign-in" id="sign-button">Sign In</a>
    </div>
</body>
</html>