<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />

</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div id="general-div">
    <h1>Searh</h1>
    <p>These are your search results <%= user.username %>!</p>
    
    </div>
</body>
</html>