<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Home Page</h1>
    <p>This is the home page<%= user.username %>!</p>
    <ul>
        <% books.forEach(book => { %>
            <li ><a href="/home/<%= book._id %>"><%= book.name %></a></li>
        <% }) %>
    </ul>
</body>
</html>